    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'title' | trans({}, 'divers') }}</th>
            <th>{{ 'description' | trans({}, 'divers') }}</th>
            <th>{{ 'price' | trans({}, 'divers') }}</th>
            <th>{{ 'author' | trans({}, 'divers') }}</th>
            <th>{{ 'enabled' | trans({}, 'divers') }}</th>
            <th>{{ 'show' | trans({}, 'divers') }}</th>
            <th>{{ 'edit' | trans({}, 'divers') }}</th>
            <th>{{ 'delete' | trans({}, 'divers') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in product %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.description| truncate(50, true, ' ...') }}</td>
                <td>{{ product.price }} &euro;</td>
                <td>{{ product.author.firstname }} {{ product.author.lastName }}</td>
                <td>{% if product.enabled == 0  %} <i class="glyphicon glyphicon-remove"> </i>  {% else %}  <i class="glyphicon glyphicon-ok"> {% endif %}</td>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                {% if is_granted('ROLE_EDITOR') %}
                    <td><a href="{{ path('product_edit', { 'id': product.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a></td>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('product_delete', { 'id': product.id }) }}"><i class="glyphicon glyphicon-trash"></i></a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td>{{ 'none' | trans({}, 'divers') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
