{% extends 'UserBundle:Default/Setting:setting.html.twig' %}

{% block active_password_tab %}active{% endblock %}

{% block nav_content %}

    {{ form_start(form) }}

    <fieldset>
        <br>

        <div class="form-group">
            <label for="oldPassword">{{ 'user.change_password.old_password' | trans  }} :</label>
            {{ form_errors(form.oldPassword) }}
            {{ form_widget(form.oldPassword, { 'attr': {'class': 'form-control' }}) }}
        </div>

        <div class="form-group">
            <label for="new_password">{{ 'user.change_password.new_password' | trans  }} :</label>
            {{ form_errors(form.newPassword.first) }}
            {{ form_widget(form.newPassword.first, { 'attr': {'class': 'form-control' }}) }}
        </div>

        <div class="form-group">
            <label for="new_password-confirm">{{ 'user.change_password.repeat_new_password' | trans  }} :</label>
            {{ form_errors(form.newPassword.second) }}
            {{ form_widget(form.newPassword.second, { 'attr': {'class': 'form-control' }}) }}
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'user.change_password.button' | trans }}</button>

    </fieldset>

    {{ form_row(form._token) }}

    {{ form_end(form) }}

    <br>

{% endblock %}