{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well">
            {{ form_start(form) }}

            <fieldset>
                <legend><i class="fa fa-lock"></i> {{ 'user.request_password.title' | trans }} </legend>

                <div class="form-group">
                    <label for="identifier">{{ 'user.registration.username' | trans }} :</label>
                    {{ form_errors(form.identifier) }}
                    {{ form_widget(form.identifier, { 'attr': {'class': 'form-control' }}) }}
                </div>

                <button type="submit"
                        class="btn btn-lg btn-primary btn-block">{{ 'user.request_password.button' | trans }}</button>

            </fieldset>

            {{ form_row(form._token) }}

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
