{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well">
            {{ form_start(form) }}

            <fieldset>
                <legend><i class="fa fa-lock"></i> {{ 'user.reset_password.title' | trans  }} </legend>

                <div class="form-group">
                    <label for="password">{{ 'user.reset_password.new_password' | trans  }} :</label>
                    {{ form_errors(form.password.password) }}
                    {{ form_widget(form.password.password, { 'attr': {'class': 'form-control' }}) }}
                </div>

                <div class="form-group">
                    <label for="confirm">{{ 'user.reset_password.repeat_new_password' | trans  }} :</label>
                    {{ form_errors(form.password.confirm) }}
                    {{ form_widget(form.password.confirm, { 'attr': {'class': 'form-control' }}) }}
                </div>

                {{ form_row(form.Reset_password) }}

            </fieldset>

            {{ form_row(form._token) }}

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
